{% extends 'market/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}



{% block content %}
    <!-- Home Intro here -->
    <div class="container-fluid">
      <div class="logo-title-container">
        <img src="{% static 'assets/Untitled_design-removebg-preview.png' %}" alt="">
        <h1>Farmers' Market</h1>
        <div class="bounce-container">
          <div class="bouncing-ball">
            <a href="{% url 'market' %}">
              <i class="fa-solid fa-caret-down" style="font-size: 30px"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
